POWERPLATFORM_ENVIRONMENTS=DEV

# Dev Environment (Điền thông tin môi trường Dataverse của bạn vào đây)
POWERPLATFORM_DEV_URL=https://orgcaf78765.crm5.dynamics.com
POWERPLATFORM_DEV_CLIENT_ID=your-client-id
POWERPLATFORM_DEV_CLIENT_SECRET=your-client-secret
POWERPLATFORM_DEV_TENANT_ID=your-tenant-id
